<div class="d-flex justify-content-center">
  {{!-- Shows each posts on homepage --}}
  <div id="post-wrapper" class="col homepagePosts" style="height: 50em; overflow-y: scroll;">
    <div class="mt-3 px-4 text-center">
      <h4 class="text-danger">All Posts</h4>
    </div>
      {{#each posts as |post|}}    
        <div class="container-fluid my-4 bg-dark">
          <div class="row">
            <div class="col-12 bg-dark p-2">
              <div class="card-header text-center bg-dark">
                <h3> {{title}}</h3>
                </div>
                <div class="card-body text-center bg-dark">
                  <p class="card-text rounded">{{content}}</p>
                  </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
</div>