<div class="mt-3 px-4 text-center col-6 ">
    <form id="newPost">
      <div class="form-group">
        <input id="new-postTitle" placeholder="Title" class="form-control text-center" rows="5" name="userPostTitle"></input>
        <input id="new-post" placeholder="Content" class="form-control text-center" rows="5" name="userPost"></input>
        <button type="submit" id="post-btn" class="btn btn-dark mt-3">Post</button>
      </div>
    </form>
</div>

<script src="/js/makePost.js"></script>